<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developed by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE  -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link
      rel="shortcut icon"
      sizes="100x100"
      href="./static/assets/favicon.png"
    />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M3XNJ35R");
    </script>
    <!-- End Google Tag Manager -->

    <title>Kehinde Adekola</title>
    <link href="./static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body>
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <!-- Header Section -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- About Section -->
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">03 : About me</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <h3>Most things to know about Kehinde ADEKOLA</h3>
                    <p>
                      I am Kehinde Adekola, a web developer focused on creating
                      impactful digital solutions. With a background in Computer
                      Science and Economics, I bring a unique problem-solving
                      approach to technical projects. I have a proven track
                      record of increasing user engagement and improving site
                      stability.
                    </p>
                    <p>
                      Beyond coding, I enjoy diving into creative pursuits, be
                      it through storytelling or experimenting with new ideas.
                      My goal is to make a meaningful impact by blending my
                      technical expertise with creativity to solve real-world
                      challenges.
                    </p>
                    <p>
                      Fun fact: I'm also a logo designer and take immense joy in
                      creating visually appealing designs that communicate
                      powerful messages.
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img
                      src="./static/assets/images/kenny1.jpg"
                      alt="Kehinde Adekola"
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <h4>Background</h4>
                    <p>
                      With a background in software development and a knack for
                      problem-solving, I've always been fascinated by how
                      technology can drive innovation. My journey started with a
                      strong interest in backend development, and over time,
                      I've embraced various aspects of web development,
                      including front-end and design.
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <h4>Passion</h4>
                    <p>
                      My passion lies in creating efficient, user-friendly
                      applications that cater to specific needs. Whether it's
                      developing an API to streamline processes or designing
                      intuitive user interfaces, I find immense satisfaction in
                      bringing ideas to life.
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <h4>Fun Facts</h4>
                    <p>
                      When I'm not coding, I enjoy exploring new cultures and
                      languages. I believe that a diverse perspective enhances
                      creativity and allows me to approach problems with a fresh
                      outlook.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-container-spacer text-center">
              <a href="./contact.html" class="btn btn-default btn-lg"
                >Get in Touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M3XNJ35R"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
